@*@page
@model IndexModel*@
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Hier gehts zur Übersicht der aktuellen und archivierten Bücher", "Index", "Buch")</p>
</div>
